<%-# Embedded Ruby to associate string 'About Us' with label :title -%>
<% provide(:title, 'About Us')%>

<h1>About Us</h1>
<p>
	The <a href="http://www.youtube.com/watch?v=L1BDM1oBRJ8">
		Ruby on Rails Tutorial</a> is a project to make a book 
		and screencasts to teach web development with Ruby on Rails. 
		This is the sample application for the tutorial.
</p>