<%-# Embedded Ruby to associate string 'Contact Us' with label :title -%>
<% provide(:title, 'Contact Us')%>

<h1>Contact Us</h1>
<p>
	The <a href="http://www.youtube.com/watch?v=L1BDM1oBRJ8">
		Ruby on Rails Tutorial</a> is a project to make a book 
		and screencasts to teach web development with Ruby on Rails. 
		We don't have any contact information yet, but please feel free
		to send an email to someone. They should respond on our behalf.
</p>